{% extends "base.html" %}

{% block content %}

    <form action="{% url 'notes.new' %}" method="POST">{% csrf_token %}
        {{ form}}
        <button type="submit" class="btn btn-primary my-5">Submit</button>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger my-5">
            {{form.errors.title.as_text}}
        </div>
    {% endif %}        


{% endblock %}

<!-- Notes
{% csrf_token %} means Cross-Site Request Forgery 

The instructor didn't mention in the video, but I had to uncomment the line in "base.html" that links to the "style.css" file, otherwise the form errors were not showing up in red. I also added some custom styles to hide the error list bullet points and to make the error text red as per guidance from the instructor.
-->